*{
	margin:0;
	padding:0;
	font-family:roboto,arial;
}
.main-content-right-info h2 {
	color: #c24e35;
}
body{
	width:100%;
	background:#F9F9F9;
}
#website{
	width:90%;
	margin:auto;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
h3{
	margin-top:10px;
}
h2{
	color:#9A450E;
}
p{
	margin:10px 0 0 0 ;
	color:gray;
	font-size:12px;
}
/**main**/
#main{
	width:90%;
	margin:auto;
}
#main-left{
	width:76%;
	float:left;
	margin-top:10px;
}
#main-right{
	width:23%;
	float:left;
	margin-top:10px;
	margin-left:5px;
}
/**end main**/

/**main-left-content*/
.main-left-content{
	width:95%;
}
.main-content{
	width:100%;
	height:230px;
	border-bottom:1px dashed #ddd;
}
/*#main-left .main-content-new {*/
	/*padding-left: 14px;*/
/*}*/

#main-left .main-left-content {
	margin-left: -17px;
}

.main-content:hover{
	background:#f2f2f2;

}
.main-content-new{
	width:100%;
	float:left;
	height:170px;
	margin:30px 0 10px 15px;
}
.main-content-left{
	width:30%;
	height:170px;
	float:left;
	border:1px solid #ddd;
	transition:0.3s ease all;
}
.main-content-left img{
	width:100%;
	height:170px;
	transition:0.3s ease all;

}
.main-content-left img:hover{
	transition:0.3s ease all;
	transform:scale(1.02,1.02);
}
.main-content-center{
	width:50%;
	float:left;
	margin:0 0 0 5px;
}
.main-content-right{
	float:left;
	width:18%;
	margin:0 0 0 5px;
}
.main-content-right-info{
	width:80%;
	height:120px;
	margin:auto;
	line-height:120px;
	text-align:center;
	border:1px solid #ddd;
	background:#FFFCF5;
}
.main-content-right-info h2{
	line-height:120px;
	text-align:center;
}
.main-content-right-btn{
	width:80%;
	height:40px;
	margin:auto;
	margin-top:8px;
	line-height:40px;
}
/**end main-left-content**/

/**main-left-list**/
.main-left-list{
	width:95%;
	margin-top:10px;
}
.main-left-list-content{
	width:100%;
	height:40px;
	line-height:40px;
	color:gray;
	border-bottom:1px dashed #ddd;
	margin-left: -16px;
}
.main-left-list-content:hover{
	background:#FFFCF5;
}
/**end main-left-list**/

/**main-left-check**/

/**list-ing**/
.list-img{
	width:100%;
	height:40px;
}
.list-img li{
	float:left;
	width:15%;
	height:40px;
	margin-left:10px;
}
.list-img li img{
	width:100%;
	height:40px;
}
/**title**/
.title{
	width:100%;
	height:50px;
	border-bottom:1px solid #ddd;
}
.title-list{
	width:95%;
	height:50px;
	line-height:50px;
	color:#336699;
	font-weight:bold;
	border-bottom:1px dashed #ddd;
}
.title-check{
	width:100%;
	padding-left:15px;
	height:50px;
	line-height:50px;
	color:white;
	background:#FF7417;
}
/**end list img**/

/**main-right-bar**/
.main-right-bar{
	width:100%;
	margin-top:10px;
	overflow: hidden;
}
.main-right-content{
	width:100%;
	border:1px solid #ddd;
	margin: 15px 0px;
}
.main-right-content:hover{
	background:#f2f2f2;
}
.main-right-content-img{
	width:100%;
	height: auto;
}
.main-right-content-img img{
	width:100%;
	height: auto;
}
.main-right-content-title{
	text-align:center;
	font-size:11px;
	height:40px;
	line-height:40px;
	margin-top:10px;
	font-weight:normal;
}
/**end main-right-bar**/

/**main-right-list**/
.main-right-list{
	width:100%;
	margin-top:10px;
}
.main-right-list-content{
	width:100%;
	height:200px;
	border:1px solid #ddd;
	margin-top:10px;
}
.main-right-list-content:hover{
	background:#f2f2f2;

}
.main-right-list-img{
	width:100%;
	height:150px;
}
.main-right-list-img img{
	width:100%;
	height:150px;
}
.main-right-list-title{
	text-align:center;
	font-size:13px;
	height:40px;
	line-height:40px;
	margin-top:10px;
	font-weight:normal;
}
/** end main-right-list-title**/

/** emain-right-qc**/
.main-right-qc{
	width:100%;
	margin-top:10px;
	height:500px;
}
.main-right-qc img{
	width:100%;
	height:500px;
}
/***end main-right-qc**/

/** main-right-category**/
.main-right-category{
	width:100%;
	margin-top:10px;
	clear:both;
}
/***end main-right-category**/

/**bottom**/
.bottom-img{
	width:90%;
	height:100px;
	margin:auto;
	margin-top:15px;
	margin-bottom:20px;
}
.bottom-img img{
	width:100%;
	height:100px;
}
#bottom{
	width:100%;
	height:300px;
	background:#f2f2f2;
	margin-top:10px;
}
/***/
.thuonghieu-btn-request{
	width:100%;
	height:40px;
	background:#93B00B;
	border:none;
	color:white;
	font-weight:bold;
	line-height:40px;
	font-size:15px;
	cursor:pointer;
}
input[type="checkbox"]{
	margin-left:5px;
}
input[type="radio"]{
	margin-left:15px;
}
input[type="text"]{
	width:25%;
	height:45px;
	border-radius:0.5em;
	border:none;
	border:1px solid #ddd;
	margin:20px 0 10px 10px;
}
.form select{
	width:15%;
	height:30px;
	margin-top:20px;

}
textarea{
	width:80%;
	height:20px;
	margin-top:20px;
}
form{
	padding:1em;
}
.form {
	width:95%;
	margin:auto;
	height:50px;
	margin-top:10px;
}
.btn{
	width:20%;
	height:40px;
	background:white;
	border:1px solid black;
	color:black;
	font-weight:bold;
	line-height:30px;
	font-size:15px;
	cursor:pointer;
	margin-top:10px;
}
.list-thuong-hieu-wrapper{
	max-width: 1200px;
}


/** giao dien mobile **/
@media only screen and (max-width:320px){
	body{
		width:100%;
	}
	h3{
		width:50%;
		font-size:13px;
	}
	h2{
		font-size:18px;
	}
	p{
		font-size:10px;
		margin:5px 0 5px 0;

	}
	#website{
		width:100%;
	}
	/**main**/
	#main{
		width:100%;
	}
	#main-left,#main-right{
		width:100%;
		float:none;
	}
	/**main-content**/
	.main-content{
		width:100%;
		height:150px;
	}

	.main-content-new{
		width:100%;
		height:100px;
		margin:auto;
		margin-top:10px;
		margin-left:10px;
	}
	.main-content-left{
		float:left;
		width:15%;
		height:80px;
	}
	.main-content-left img{
		width:100%;
		height:80px;
	}
	.main-content-center{
		width:60%;
		float:left;
		margin:0 0 0 5px;
	}
	.main-content-right{
		float:left;
		width:15%;
		margin:0 0 0 5px;
	}
	.main-content-right-info{
		width:70%;
		height:50px;
		margin:auto;
		font-size:10px;
		line-height:50px;
		text-align:center;
		border:1px solid #ddd;
		background:#FFFCF5;
	}
	.main-content-right-info h2{
		font-size:12px;
		text-align:center;
		line-height:50px;
	}
	.main-content-right-btn{
		width:80%;
		height:20px;
		margin:auto;
		margin-top:18px;
	}
	/**main-left-list**/
	.main-left-list{
		width:100%;
		margin-top:10px;
	}
	.main-left-list-content{
		width:93.5%;
		height:40px;
		line-height:40px;
		color:gray;
		font-size:12px;
		padding-left:15px;
		border-bottom:1px dashed #ddd;
	}
	.main-left-list-content:hover{
		background:#FFFCF5;
	}
	/**end main-left-list**/

	/**main-left-check**/


	/**mian-right**/
	.main-right-content{
		width:80%;
		height:250px;
		margin:auto;
		border:1px solid #ddd;
	}
	.main-right-list-content{
		width:30%;
		height:180px;
		float:left;
		border:1px solid #ddd;
		margin-top:10px;
		margin-left:5px;
	}
	.main-right-list-img{
		width:100%;
		height:130px;
	}
	.main-right-list-img img{
		width:100%;
		height:130px;
	}
	.main-right-qc{
		width:80%;
		margin:auto;
		display:none;
		margin-top:30px;
	}
	.main-category{

	}

	
	.title-check{
		width:98%;
		padding-left:8px;
		height:50px;
		line-height:50px;
		color:white;
		font-size:10px;
		background:#FF7417;
	}

	/**list-img**/

	.list-img{
		width:100%;
		height:20px;
		margin:0 0 0 0;
	}
	.list-img li{
		float:left;
		width:10%;
		height:20px;
		margin-left:10px;
	}
	.list-img li img{
		width:100%;
		height:20px;
	}
	/**bottom**/
	#bottom{
		width:100%;
		height:400px;
	}

	.thuonghieu-btn-request{
		font-size:8px;
		height:20px;
		line-height:20px;
	}
}

@media only screen and (max-width:860px){
	body{
		width:100%;
	}
	h3{
		width:50%;
		font-size:13px;
	}
	h2{
		font-size:18px;
	}
	p{
		font-size:10px;
		margin:3px 0 0 0;

	}
	#website{
		width:100%;
	}
	/**main**/
	#main{
		width:100%;
	}
	#main-left,#main-right{
		width:100%;
		float:none;
	}
	/**main-content**/
	.main-content{
		width:100%;
		height:150px;
	}

	.main-content-new{
		width:100%;
		height:120px;
		margin:auto;
		margin-top:10px;
	}
	.main-content-left{
		float:left;
		width:32%;
		height:120px;
	}
	.main-content-left img{
		width:100%;
		height:120px;
	}
	.main-content-center{
		width:48%;
		float:left;
	}
	.main-content-right{
		float:left;
		width:16%;
		margin:0 0 0 5px;
	}
	.main-content-right-info{
		width:90%;
		height:60px;
		margin:auto;
		font-size:10px;
		line-height:60px;
		text-align:center;
		border:1px solid #ddd;
		background:#FFFCF5;
	}
	.main-content-right-info h2{
		font-size:12px;
		text-align:center;
		line-height:50px;
	}
	.main-content-right-btn{
		width:100%;
		height:20px;
		line-height:20px;
		margin:auto;
		font-size:18px;
		margin-top:18px;
	}
	/**main-left-list**/
	.main-left-list{
		width:100%;
		margin-top:10px;
	}
	.main-left-list-content{
		width:100%;
		height:40px;
		line-height:20px;
		color:gray;
		font-size:12px;
		border-bottom:1px dashed #ddd;
	}
	.main-left-list-content:hover{
		background:#FFFCF5;
	}
	/**end main-left-list**/

	/**main-left-check**/

	/**mian-right**/
	.main-right-content{
		width:80%;
		height:250px;
		margin:auto;
		border:1px solid #ddd;
	}
	.main-right-content h2{
		font-size:12px;
	}
	.main-right-list-content{
		width:30%;
		height:180px;
		float:left;
		border:1px solid #ddd;
		margin-top:10px;
		margin-left:5px;
	}
	.main-right-list-img{
		width:100%;
		height:130px;
	}
	.main-right-list-img img{
		width:100%;
		height:130px;
	}
	.main-right-qc{
		width:80%;
		margin:auto;
		display:none;
		margin-top:30px;
	}

	/**title**/
	.title{
		width:100%;
		height:50px;
		border-bottom:1px solid #ddd;
	}
	.title-list{
		width:95%;
		height:50px;
		line-height:50px;
		color:#336699;
		font-weight:bold;
		border-bottom:1px dashed #ddd;
	}
	.title-check{
		width:100%;
		padding-left:8px;
		height:50px;
		line-height:50px;
		color:white;
		font-size:10px;
		background:#FF7417;
	}

	/**list-img**/

	.list-img{
		width:100%;
		height:20px;
		display:none;
	}
	.list-img li{
		float:left;
		width:10%;
		height:20px;
		margin-left:10px;
	}
	.list-img li img{
		width:100%;
		height:20px;
	}
	/**bottom**/
	#bottom{
		width:100%;
		height:400px;
	}

	.thuonghieu-btn-request{
		font-size:7px;
		height:30px;
		line-height:30px;
	}
	.btn{
	width:30%;
	height:40px;
	background:white;
	border:1px solid black;
	color:black;
	font-weight:bold;
	line-height:30px;
	font-size:15px;
	cursor:pointer;
	margin-top:20px;
}
}

/** giao dien laptop, ipad **/
@media only screen and (min-width:1024px) and (max-width:1300px){

	body{
		width:100%;
	}
	h3{
		width:50%;
		font-size:13px;
	}
	h2{
		font-size:20px;
	}
	p{
		font-size:12px;

	}
	#website{
		width:90%;
		margin:auto;
	}
	/**main**/
	#main{
		width:95%;
		margin:auto;
	}
	/**main-content**/
	.main-content{
		width:100%;
		height:200px;

	}

	.main-content-new{
		width:100%;
		height:165px;
		margin:10px 0 10px 10px;
	}
	.main-content-left{
		float:left;
		width:30%;
		height:165px;
	}
	.main-content-left img{
		width:100%;
		height:165px;
	}
	.main-content-center{
		width:62%;
		float:left;
		margin:0 0 0 5px;
	}
	.main-content-right{
		float:left;
		width:16%;
		margin:0 0 0 5px;
	}
	.main-content-right-info{
		width:90%;
		height:100px;
		margin:auto;
		font-size:10px;
		line-height:100px;
		text-align:center;
		border:1px solid #ddd;
		background:#FFFCF5;
	}
	.main-content-right-info h2{
		font-size:15px;
		text-align:center;
		line-height:100px;
	}
	.main-content-right-btn{
		width:90%;
		height:20px;
		margin:auto;
		margin-top:18px;
	}
	/**main-left-list**/
	.main-left-list{
		width:95%;
		margin-top:10px;
	}
	.main-left-list-content{
		width:100%;
		height:40px;
		line-height:40px;
		color:gray;
		font-size:12px;
		padding-left:15px;
		border-bottom:1px dashed #ddd;
	}
	.main-left-list-content:hover{
		background:#FFFCF5;
	}
	/**end main-left-list**/

	/**main-left-check**/


	/**mian-right**/
	.main-right-content{
		width:100%;
		height:250px;
		margin:auto;
		border:1px solid #ddd;
		margin-bottom: 20px;
	}
	.main-right-list-content{
		width:100%;
		height:200px;
		border:1px solid #ddd;
		margin-top:10px;
	}
	.main-right-qc{
		width:80%;
		margin:auto;
		margin-top:10px;
		display:none;
		clear:left;
	}
	.main-right-category{
		clear:left;
	}

	/**title**/
	.title{
		width:100%;
		height:50px;
		border-bottom:1px solid #ddd;
	}
	.title-list{
		width:95%;
		height:50px;
		line-height:50px;
		color:#336699;
		font-weight:bold;
		border-bottom:1px dashed #ddd;
	}
	.title-check{
		width:100%;
		padding-left:8px;
		height:50px;
		line-height:50px;
		color:white;
		font-size:12px;
		background:#FF7417;
	}

	/**list-img**/

	.list-img{
		width:90%;
		height:40px;
	}
	.list-img ul li{
		float:left;
		width:10%;
		height:40px;
		margin-left:10px;
	}
	form{
		font-size:15px;
	}
	.list-img ul li img{
		width:100%;
		height:40px;
	}
	/**bottom**/
	#
	/**bottom**/
	.bottom-img{
		width:100%;
		height:100px;
		margin:auto;
		margin-top:15px;
		margin-bottom:20px;
	}
	.bottom-img img{
		width:100%;
		height:100px;
	}
	.thuonghieu-btn-request{
		width:100%;
		font-size:13px;
		height:40px;
		line-height:40px;
	}
}

.ad-right-wrapper .main-right-content-title h2{
  text-align: center;
  font-size: 14px;
  color: #666;
}

.ad-right-wrapper:first-child .main-right-content-title h2{
  color:red;
  font-size: 16px;
}

/** laptop,tv ***/
@media only screen and (min-width:1920px) and (max-width:2200px){


	body{
		width:100%;
	}
	h3{
		width:50%;
		font-size:13px;
	}
	h2{
		font-size:20px;
	}
	p{
		font-size:12px;

	}
	/**main**/
	#main{
		width:90%;
		margin:auto;
		max-width:1246px;
	}
	#main-left{
		width:76%;
		float:left;
		margin-top:10px;
	}
	#main-right{
		width:23%;
		float:left;
		margin-top:10px;
		margin-left:10px;
	}
	/**main-content**/
	.main-content{
		width:100%;
		height:200px;
		/*margin-left: -14px;*/
	}
	.main-left-content{
		width:100%;
	}
	.main-content-new{
		width:100%;
		height:165px;
		margin:10px 0 10px 0;
	}
	.main-content-left{
		float:left;
		width:30%;
		height:165px;
	}
	.main-content-left img{
		width:100%;
		height:165px;
	}
	.main-content-center{
		width: 52%;
		float:left;
		margin:0 2px 0 5px;
	}
	.main-content-right{
		float:left;
		width:16%;
		margin:0 0 0 5px;
	}
	.main-content-right-info{
		width:90%;
		height:120px;
		margin:auto;
		font-size:10px;
		line-height:120px;
		text-align:center;
		border:1px solid #ddd;
		background:#FFFCF5;
	}
	.main-content-right-info h2{
		font-size:15px;
		text-align:center;
		line-height:120px;
		color: #c34d35;
	}
	.main-content-right-btn{
		width:80%;
		height:20px;
		margin:auto;
		margin-top:18px;
	}
	/**main-left-list**/
	.main-left-list{
		width:95%;
		margin-top:10px;
	}
	.main-left-list-content{
		width:100%;
		height:40px;
		line-height:40px;
		color:gray;
		font-size:12px;
		padding-left:15px;
		border-bottom:1px dashed #ddd;
	}
	.main-left-list-content:hover{
		background:#FFFCF5;
	}
	/**end main-left-list**/

	/**main-left-check**/


	/**mian-right**/
	.main-right-content{
		width:100%;
		height:250px;
		margin:auto;
		border:1px solid #ddd;
		margin-bottom: 20px;
	}
	.main-right-list-content{
		width:100%;
		height:200px;
		border:1px solid #ddd;
		margin-top:10px;
	}
	.main-right-qc{
		width:80%;
		margin:auto;
		margin-top:10px;
		clear:left;
	}
	.main-right-category{
		clear:left;
	}
	/**main-left-check**/


	/**mian-right**/
	.main-right-content{
		width:100%;
		height:250px;
		margin:auto;
		border:1px solid #ddd;
		margin-bottom: 20px;
	}
	.main-right-list-content{
		width:100%;
		height:200px;
		border:1px solid #ddd;
		margin-top:10px;
	}
	.main-right-qc{
		width:80%;
		margin:auto;
		margin-top:10px;
		display:none;
		clear:left;
	}
	.main-right-category{
		clear:left;
		width:100%;
	}

	/**title**/
	.title{
		width:100%;
		height:50px;
		border-bottom:1px solid #ddd;
	}
	.title-list{
		width:95%;
		height:50px;
		line-height:50px;
		color:#336699;
		font-weight:bold;
		border-bottom:1px dashed #ddd;
	}
	.title-check{
		width:100%;
		padding-left:8px;
		height:50px;
		line-height:50px;
		color:white;
		font-size:12px;
		background:#FF7417;
	}

	/**list-img**/

	.list-img{
		width:100%;
		height:40px;
	}
	.list-img li{
		float:left;
		width:10%;
		height:20px;
		margin-left:10px;
	}
	.list-img li img{
		width:100%;
		height:40px;
	}
	form{
		font-size:15px;
	}
	/**bottom**/
	#bottom{
		width:100%;
		height:400px;
	}

	.thuonghieu-btn-request{
		font-size:10px;
		height:20px;
		line-height:20px;
	}
}

.ad-right-wrapper {
	margin-bottom: 10px;
}


/*form hoi dap*/
@media screen and (min-width: 850px) {
	.main-left-check {
		margin-left: -30px;
	}
	#brand-hoi-dap    #hoi-dap-qa .large-2 {
		max-width: 12.66667%;
		-webkit-flex-basis: 16.66667%;
		-ms-flex-preferred-size: 16.66667%;
		flex-basis: 16.66667%;
	}
	#brand-hoi-dap     #hoi-dap-qa .large-3 {
		max-width: 20%;
		-webkit-flex-basis: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
	}
}
#brand-hoi-dap  #hoi-dap-qa .page-hoi-dap-select {
	display: inline-flex;
}
#brand-hoi-dap  #hoi-dap-qa .title-check {
	width: 100%;
	padding-left: 16px;
	height: 50px;
	line-height: 50px;
	color: white;
	background: #FF7417;
}
#brand-hoi-dap  #hoi-dap-qa{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #FF7417;
	font-size: 13px;
	border-bottom: 1px solid #ddd;
}
#brand-hoi-dap  #hoi-dap-qa .row:not(.row-collapse) {
	margin: 10px;
}
#brand-hoi-dap  #hoi-dap-qa label {
	font-size:13px;
}
#brand-hoi-dap  .hoi-dap form {
	padding: 0;
}

#brand-hoi-dap  #hoi-dap-qa .col {
	padding: 0 0 0 8px;
}

#brand-hoi-dap  #hoi-dap-qa  .page-hoi-dap-select
select {
	font-size: 11px;
}

#brand-hoi-dap  #hoi-dap-qa  .page-hoi-dap-select .sep {
	line-height: 27px;
}



#brand-hoi-dap  #hoi-dap-qa #rdo-cua-hang  .wpcf7-list-item {
	margin-right: 5px;
}
#brand-hoi-dap   #submit-btn {
	text-align: center;
}
