/*
Theme Name: multisite
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.if-menu-peek::after {
    display: none !important;
}
.page-id-552 #content {
    background: #f3f3f3;
}
.video-list .row {
    margin-top: 22px;
}
.video-list .text-content-item {
    text-align: center;
}
.video-list .section-title-normal span{
    border-bottom: 2px solid rgb(232, 137, 47);
}

#menu-menu-sidebar-list-thuong-hieu li {
    border-bottom: 1px dashed #ddd;

}
#menu-menu-sidebar-list-thuong-hieu li a {
    color: #a2270d;
    font-weight: 500;
}
#menu-menu-sidebar-list-thuong-hieu li:hover {
    background: #FFFCF5;
}

.dokan-store #content-child .img-profile img {
    background-color: #fff;
}

.page-template-hoi-dap #masthead .current-menu-item {
    border: none;
    background: none;
    padding: 0;
}
#content-hoidap  .info h2 , .main-list-content-left a h2 {
    color: #C24E35;
}
.main-list-content-left a h2 {
    font-size: 24px;
}
#header .fill {
    display: none;
}
#quangcao-header {
    padding-top: 35px;
    height: 130px;
}
.row .all-more a {
    color: #9A450E;
    font-weight: 500;
}

@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
#top-bar-custom * {
    color: #fff;
}
#top-bar-custom #menu-top-bar-right li
a::after {
    border-color: #fff;
}
/* css menu fixed  home*/
#content .nav_left_layout_user {
    position: static;
    z-index: 999;
    top: 1012px;
    width: 100%;
    margin: auto;
    padding: 0px;
}
.menu-block-home li {
    float: left;
    list-style: none;
    padding: 17px 45px 17px 45px;
    margin: 0 auto;
    border-left: #930 1px solid;
}
.menu-block-home li:last-child {
    border-right: #930 1px solid;
}
#content #nav_left_layout_user {
    padding-left: 15px;
    padding-right: 15px;
}
/*
css hover menu wide-nav */
.wide-nav .header-nav li:hover, .wide-nav .header-nav li.active {
    background-color: #f9f9f9;
    border-top: 4px #cc0000 solid;
    border-right: 1px #EA9133 solid;
    text-decoration: none;
}
.wide-nav .header-nav li:hover a,
.wide-nav .header-nav li.active a {
    color: #CC6633 !important;
}
#wide-nav .header-bottom-nav li {
    padding: 7px;
    margin: 0;
}
/*css page con*/
#content-child .middle .col {
    background: #f5ecd5;
    height: 100px;
}
#content-child .img-profile img {
    position: absolute;
    margin: -91px 0px 0px 30px;
    z-index: 1;
    width: 240px;
    border: 1px #999 solid;
    border-radius: 8px;
}
#main #content-child .text-profile {
    padding: 14px 15px 0;
}
#content-child .text-profile p {
    font-size: 14px;
}
#content-child .text-profile p {
    color: #856243;
}
#content-child .text-profile h2 {
    color: #CC6733;
}
#content-child .left-bottom-profile p label {
    float: left;
}
#content-child .left-bottom-profile .info {
    padding: 19px 28px 0 28px;
}
#content-child .right-bottom-profile button {
    background: #e51702;
    color: #fff;
    margin-top: 50%;
    border-radius: 4px;
    padding: 5px 50px;
}
#content-child .right-bottom-profile {
    text-align: center;
}

#content-child .bottom-profile {
    background: #f9f4e8;
    color: #856243;
}
#content-child .menu-bottom-profile {
    z-index: 99;
}
#content-child .menu-bottom-profile li {
    list-style: none;
    border: 1px solid #CCC;
    padding: 14px 46.1px;
    margin: 0;
    float: left;
    background-color: #f9f4e8;
}
#content-child .menu-bottom-profile li:hover {
    border-bottom: 3px solid #C60;
}
#content-child .content .large-10 {
    border: 1px solid #ccc;
}
#content-child .heading-title {
    border-bottom: 3px #C24E35 solid;
    background: #f9f4e8;
}
#content-child .row.bottom-profile {
    margin-bottom: 10px;
}
#content-child .heading-title h2 {
    padding: 15px 20px 0;
    color: #C24E35;
    position: relative;
}
#content-child .heading-title h2::before {
    content: "";
    color: red;
    content: " ";
    display: block;
    position: absolute;
    height: 5px;
    background: #C24E35;
    width: 26px;
    transform: rotate(90deg);
    top: 29px;
    left: 0px;
}
#content-child .content .large-9 {
    padding: 0 15px 40px 0;
}
#content-child .content .large-3 {
    padding: 0 0 40px 0;
}
#content-child #content-child {
    background: #F1F1F1;
}
#content-child .artical .content-article {
    background: #fff;
    padding: 11px;
}
#content-child .artical {
    margin-bottom: 10px;
}
#content-child .col {
    padding: 0;
}
.page-template-page-child-php .flex-row.container {
    padding: 0;
}
.page-template-page-child-php  #content-child {
    background: #F1F1F1;
}
#content-child .breadcrumbs .divider {
    display: none;
}

#content-child .breadcrumbs a::after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    margin: 0 6px;
    color: #000;
}

#content-child .breadcrumbs , .breadcrumbs a {
    color: #9A450E;
    padding: 8px 0;
    font-size: 13px;
}
/*item homepage*/
.row-custom>.col {
    padding: 8px 2.8px 19.6px;
}



.row .all-more {
    text-align: center;
    font-size: 13px;
}
.content-item {
    background-color: #fff;
}
.text-content-item {
    padding: 5px 6px;
}
.text-content-item p {
    margin-bottom: 5px;
    color: #fd2520;
    font-weight: bold;
}
/*menu brand name trang con*/
.nav-brand-name {
    z-index: 999999;
    height: 56px;
    overflow: hidden;
}
.nav-brand-name .logo-brand-name img {
    width: auto;
    float: left;
    height: 56px;
}

.nav-brand-name .brand-name li {
    float: left;
    margin-left: 24px;
    list-style: none;
    color: #fff;
}
.nav-brand-name{
    z-index: 2 !important;
}
.nav-brand-name .brand-name li {
    line-height: 15px;
}
.nav-brand-name .button-brand-name button {
    margin: 8px;
    color: #fff;
    letter-spacing: 5px;
    background: #7cbc0a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7cbc0a 45%, #9dd53a 78%, #9dd53a 86%, #9dd53a 90%, #a1d54f 94%, #9dd53a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7cbc0a 45%,#9dd53a 78%,#9dd53a 86%,#9dd53a 90%,#a1d54f 94%,#9dd53a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7cbc0a 45%,#9dd53a 78%,#9dd53a 86%,#9dd53a 90%,#a1d54f 94%,#9dd53a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#9dd53a',GradientType=0 );
}
/* dokan store */
.dokan-store .flex-row.container {
    padding: 0;
}
.dokan-store .img-cover {
    border: 1px #CCCCCC solid;
}
.dokan-store .middle {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.dokan-store .bottom-profile {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;

}

#header .wide-nav .header-nav li:hover {
    padding: 2px 7px 7px 7px;
}

.dokan-store #content-child {
    background: #F1F1F1;
}

/*custom title heading*/
.section-title-custom *  {
    color: #c24e35;
}
.section-title-custom-sidebar * {
    color: #336699;
}
.section-title-custom .section-title-normal span {
    border-bottom: 1px solid #c24e35;
    font-size: 23px;
}
 .section-title-custom-sidebar .section-title-normal span{
     font-size: 20px;
     border-bottom: 1px solid #c24e35;
 }
  .section-title-custom .section-title-normal , .section-title-custom-sidebar .section-title-normal {
    border-bottom: 1px solid #ececec;
}
.section-title-custom-sidebar .section-title-main::before {
    background-image: url('./img/thumb-up.png');
    padding: 0px 15px;
    content: " ";
    background-repeat: no-repeat;
}

.section-title-custom-sidebar .section-title-main {
    line-height: 24px;
}



/*css page list thuong hieu*/
.col-logo-thuong-hieu .title-logo-thuong-hieu {

    padding: 4px 10px;
    text-align: center;
    border: #e5e5e5 1px solid;
}


@media screen and (min-width: 850px)
{
    .col-logo-thuong-hieu {
        max-width: 20%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 20%;
    }
}

.col-logo-thuong-hieu {
    position: relative;
    margin: 0;
    padding: 0 10px 10px 0;
    width: 100%;
}

.col-logo-thuong-hieu .title-logo-thuong-hieu:hover {
    background: #e5e5e5;

}
.col-logo-thuong-hieu .title-logo-thuong-hieu:hover a {
    color: #C24E35;
}
#content-list-child .col {
    padding: 0 ;
}
@media screen and (max-width:768px){
    #masthead .cart-item {
        display: none;
    }
    #menu-menu-bottom-header {
        display: none;
    }
    #nav_left_layout_user {
        display: none;
    }
    .bottom-profile #nav_left_layout_user {
        display: none !important;
    }
}
/*.content-item:hover::before {*/
    /*border: #F30 3px solid;*/
    /*width: 98%;*/
    /*height: 252px;*/
    /*position: absolute;*/
    /*z-index: 81;*/
    /*content:""*/
/*}*/
.wide-nav .header-nav li.active {
    padding: 5px 7px 5px 7px !important;
}

#wrapper .section {
    padding: 0;
}
.home .row , .home  .container{
    max-width: 1211px !important; ;
}
.content-item img {
    height: 152px;
}
@media screen and (min-width: 768px){
    .header {
        z-index: 99999 ;
    }
}

/*css trang con*/
#content-child .nav-right-menu-mxh ul {
    display: inline-flex;
    list-style: none;
    line-height: 40px;
    margin: 0;
}

#content-child .nav-right-menu-mxh li {
    margin-right: 14px;
    margin-bottom: 0;
}
#content-child .nav-right-menu-mxh {
    text-align: right;
}

#content-child .breadcrumbs {
    float: left;
    width: 50%;
    display: flow-root;
}
#content-child .brearcrumb {
    display: flow-root;
}

/*css form hoi dap*/
.page-template-hoi-dap .current-menu-item {
    padding: 3px 14px;
    border-top: 2px #cc0000 solid;
    background-color: #f9f9f9;
    border-top: 4px #cc0000 solid;
    border-right: 1px #EA9133 solid;
    text-decoration: none;
}
.page-template-hoi-dap #menu-custom-page-chi-tiet .current-menu-item a {
    color: #EA9133 ;
}


.modal{
    max-width: 800px;
}

.form-qa .form-header input{
    margin-left: 0px;
}



.form-qa .form-group{
    overflow: hidden;
    /*background: #FFFFE6;*/
}

.form-qa input{
    margin-left: 0px;
}

@media screen and ( min-width: 959px ){

    .form-qa .form-group .form-label{
        width: 30%;
        float: left;
        display: block;


    }

    .form-qa .form-group .form-input{
        width: 70%;
        background: white;
        float: left;

    }

    .form-qa .form-header{
        color: #383835;
        text-align: center;
        width: 100%;
        background: #F3F3F3;
        padding: 6px;
    }


    .form-qa .du-kien-dau-tu-from, .form-qa .du-kien-dau-tu-to{
        float: left;

    }

    .form-qa .du-kien-dau-tu-to select, .form-qa .du-kien-dau-tu-from select{

        margin: 0px;
        padding-top : 5px;
        padding-bottom : 5px;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        width: 110px;

    }
    .form-qa  .du-kien-dau-tu-select .form-input{
        display: inline-flex;
    }



    .form-qa  .du-kien-dau-tu-select .form-input select {
        width: 130px;
    }
    .form-qa .submit {
        text-align: center;
        margin-top: 15px;
    }
    .form-qa .sep {
        width: 20px;
        float: left;
        line-height: 35px;
        margin: 0 15px;
    }


}/**959px **/


/*css menu page chi tiet*/


#wide-nav #menu-custom-page-chi-tiet li:first-child {
    background:rgb(204, 102, 0);
}
#wide-nav #menu-custom-page-chi-tiet li:first-child:hover {
    border:none;
    padding: 2px 14px;
}
#wide-nav #menu-custom-page-chi-tiet li:first-child a {
    padding:6px 0;
}
#wide-nav #menu-custom-page-chi-tiet li:hover {
    padding: 3px 14px;
    border-top: 2px #cc0000 solid;
}
#wide-nav #menu-custom-page-chi-tiet li{
    padding: 2px 14px;
}
#wide-nav #menu-custom-page-chi-tiet li a {
    padding: 10px 20px;
    text-transform: uppercase;
}
#wide-nav .custom-button-menu-page-chi-tiet.nav-uppercase button {
    padding: 0px 50px 2px 50px;
    background-color: #ffcc00;
    border: 1px solid #000;
    color: #000;
    margin-right: 0;
}

#wide-nav .custom-button-menu-page-chi-tiet.nav-uppercase li{
    padding:0;
}
#wide-nav .custom-button-menu-page-chi-tiet.nav-uppercase li:hover {
    border: none;
    padding: 0;
    background:none;
}
/*css form trang hoi dap*/



#content-hoidap{
    width:82%;
    margin:auto;
    margin-top:10px;
}
#content-hoidap .main-list{
    width:100%;
    margin-top:10px;
}
#content-hoidap .main-list-content{
    width:100%;
    clear:both;
    border-bottom:1px dashed #ddd;
    border-top:1px dashed #ddd;
}
#content-hoidap .main-list-content:hover{
    background:#F9F4E8;
}
#content-hoidap .main-list-new{
    width:95%;
    margin:0px 15px 10px 15px;
    padding-top:10px;
}


.main-list-new  .col {
    padding: 0 15px 0;
}
#content-hoidap .main-nd{
    width:100%;
    color:gray;
}

#content-hoidap .info{
    height:90px;
    border:1px solid #ddd;
    text-align:center;
    line-height:40px;
    color:gray;
    background:#F9F4E8;
}

/**main-right-bar**/
.main-right{
    width:100%;
    margin-top:10px;
}
#content-hoidap .main-right-bar{
    width:100%;
    height:250px;
    margin-top:10px;
}
#content-hoidap .main-right-content{
    width:100%;
    height:250px;
    border:1px solid #ddd;
}
#content-hoidap .main-right-content:hover{
    background:#f2f2f2;
}
#content-hoidap .main-right-content-img{
    width:100%;
    height:200px;
}
#content-hoidap .main-right-content-img img{
    width:100%;
    height:200px;
}
#content-hoidap .main-right-content-title{
    text-align:center;
    font-size:13px;
    height:40px;
    line-height:40px;
    margin-top:10px;
    font-weight:normal;
}
/**end main-right-bar**/

/**main-right-list**/
#content-hoidap .main-right-list{
    width:100%;
    margin-top:10px;
}
#content-hoidap .main-right-list-content{
    width:100%;
    height:200px;
    border:1px solid #ddd;
    margin-top:10px;
}
#content-hoidap .main-right-list-content:hover{
    background:#f2f2f2;

}
#content-hoidap .main-right-list-img{
    width:100%;
    height:150px;
}
#content-hoidap .main-right-list-img img{
    width:100%;
    height:150px;
}
#content-hoidap .main-right-list-title{
    text-align:center;
    font-size:13px;
    height:40px;
    line-height:40px;
    margin-top:10px;
    font-weight:normal;
}
/** end main-right-list-title**/

/** emain-right-qc**/
#content-hoidap .main-right-qc{
    width:100%;
    margin-top:10px;
    height:500px;
}
#content-hoidap .main-right-qc img{
    width:100%;
    height:500px;
}
/***end main-right-qc**/
/** form**/
/***/
#content-hoidap  .btn1{
    width:100%;
    height:40px;
    background:#93B00B;
    border:none;
    color:white;
    font-weight:bold;
    line-height:40px;
    font-size:15px;
    cursor:pointer;
    margin:auto;
    margin-top:20px;
}

@media screen and (min-width: 850px) {
    #content-hoidap    #hoi-dap-qa .large-2 {
        max-width: 12.66667%;
        -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    }
    #content-hoidap     #hoi-dap-qa .large-3 {
        max-width: 20%;
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
}
#content-hoidap  #hoi-dap-qa .page-hoi-dap-select {
    display: inline-flex;
}
#content-hoidap  #hoi-dap-qa .title-check {
    width: 100%;
    padding-left: 16px;
    height: 50px;
    line-height: 50px;
    color: white;
    background: #FF7417;
}
#content-hoidap  #hoi-dap-qa{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #FF7417;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}
#content-hoidap  #hoi-dap-qa .row:not(.row-collapse) {
    margin: 10px;
}
#content-hoidap  #hoi-dap-qa label {
    font-size:13px;
}
#content-hoidap  .hoi-dap form {
    padding: 0;
}

#content-hoidap  #hoi-dap-qa .col {
    padding: 0 0 0 8px;
}

#content-hoidap  #hoi-dap-qa  .page-hoi-dap-select
select {
    font-size: 11px;
}

#content-hoidap  #hoi-dap-qa  .page-hoi-dap-select .sep {
    line-height: 27px;
}



#content-hoidap  #hoi-dap-qa #rdo-cua-hang  .wpcf7-list-item {
    margin-right: 5px;
}
#content-hoidap   #submit-btn {
    text-align: center;
}


/*phan trang */
.wp-pagenavi a , .wp-pagenavi span{
      padding: 10px 15px;
    border: 1px #CCCCCC solid !important;
  text-align: center;
    border-right: 0 none;
  color:#9A450E;
  

}

.wp-pagenavi a:hover , .wp-pagenavi span:hover{
    padding: 10px 15px;
    border: 1px #CCCCCC solid !important;;
    border-right: 0 none;
    background-color: #E5E5E5;
    
}
.wp-pagenavi  .current{
   background-color: #E5E5E5;
}

.wp-pagenavi {
  margin-top: 20px;
}

/*end css form trang hoi dap*/
/*css form hoi dap tu van */
#form-hoi-dap-tu-van-modal .content {
    width: 80%;
    margin: 24px auto;
    overflow: auto;
}

#form-hoi-dap-tu-van-modal .content label {
    float: left;
    width: 130px;
}

#form-hoi-dap-tu-van-modal .content .sdt {
    font-size: 30px;
    color: #CC0000;
}

.content label {
    font-size: 16px;
}

#form-hoi-dap-tu-van-modal .content .email {
    font-size: 19px;
    font-weight: 600;
    color: #000;
}

#form-hoi-dap-tu-van-modal .content .sdt label {
    line-height: 47px;
}

#form-hoi-dap-tu-van-modal .content-chitiet {
    background: rgb(255, 255, 204);
    padding: 20px;
    color: #000;
}
#form-hoi-dap-tu-van-modal {
    padding: 7px 10px;
}

#form-hoi-dap-tu-van-modal .title {
    background: rgb(243, 243, 243);
    text-align: center;
    padding: 7px;
}
#form-hoi-dap-tu-van-modal .title h4 {
    color: #000;
    font-size: 21px;
}
#form-hoi-dap-tu-van-modal {
    display: none;
    background-color: #f9f9f9;
}
#form-hoi-dap-tu-van-modal .hoi-dap-tu-van {
    overflow-x: hidden;
    height: 500px;
    overflow-y: scroll;
}
/*end form hoi dap tu van*/



/*css menu bottom header*/
 #menu-menu-bottom-header {
    float: right;
    position: relative;
    top: 30px;
}

.header-nav .search-header {
    padding-top: 25px;
    padding-right: 0;
}
#menu-menu-bottom-header li {

    margin-right: 0;
    margin-left: 27.5px;
}

#menu-menu-bottom-header li a {
    font-size: 17px;
    color: #9A450E;
}
/*end css menu bottom header*/

/*css menu active store dokan chi tiet*/
.dokan-store #menu-custom-page-chi-tiet .thongtin {
    background-color: #f9f9f9;
    border-top: 4px #cc0000 solid;
    border-right: 1px #EA9133 solid;
    text-decoration: none;

}

.dokan-store #menu-custom-page-chi-tiet  .thongtin a {
    color: #e9892f;
}

/*end css menu active store dokan chi tiet*/

#content-hoidap .section-title-custom-sidebar {
    margin-top: 15px;
}
#captcha .wpcf7-form-control-wrap div {
    margin: 0 auto ;
    margin-bottom:15px;
}
#captcha div {
    margin: 0 auto;
    margin-bottom:15px;
}


.page-hoi-dap-select select {
    width: 67px;
}


.content-item:hover {
    /*border: #F30 3px solid;*/
    outline: 3px solid #F30;
}

.dokan-store .img-cover .large-12 img {
    height: 293px;
}
#content-list-child .brearcrumb , .brearcrumb a {
    font-size: 13px;
}

#content-list-child .brearcrumb {
    padding-top: 10px;
}

/*css topbarright*/
.right-custom-topbar {
    display: flex;
}

.right-custom-topbar .notifi {
    line-height: 30px;
    margin-right: 10px;
    font-size: .9em;
    position: relative;
}

.right-custom-topbar .notifi::after {
    content: "";
    border-right: 1px solid #fff;
    position: absolute;
    height: 16px;
    top: 23%;
    left: 104%;
}


/*end css topbarright*/